{
  "root": true,
  "extends": [
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "plugins": ["import"],
  "rules": {
    "@typescript-eslint/comma-dangle": ["error", "never"],
    "@typescript-eslint/semi": ["error", "never"],
    "@typescript-eslint/indent": ["error", 2],
    "import/prefer-default-export": 0
  }
}